* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* form */
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form{
    display: flex;
    gap: 20px;
}

.top input[type="text"], .bottom input[type="text"]{
    width: 400px;
}

.top input[type="date"], .bottom input[type="date"]{
    width: 200px;
}

.div{
    display: flex;
    flex-direction: column;
}

.div input{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 5px;
}

input[type="submit"]{
    width: 80px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 0;
}

/* boards */
.main{
    display: flex;
    width: fit-content;
    margin-top: 50px;
    margin-left: calc((100% - 940px)/2);
    gap: 15px;
    padding: 0 5px;
}

.board{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.board h3{
    padding: 10px 0;
}

.todos-board{
    background-color: rgb(174, 174, 236);
}

.doings-board{
    background-color: rgb(238, 230, 115);
}

.dones-board{
    background-color: rgb(104, 227, 104);
}

/* task */
.todos, .doings, .dones{
    width: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content{
    margin: 15px 0;
}

.hedear{
    display: flex;
    justify-content: space-between;
}

.hedear h4{
    color: rgb(223, 92, 92);
}

.hedear i{
    color: red;
}

.date{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.date div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.date div p, .description p{
    font-size: 13px;
    color: grey;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer button{
    width: 40px;
    height: 40px;
    background-color: rgb(223, 92, 92);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

button:hover{
    background-color: red;
}

@media screen and (max-width: 950px) {
    .main{
       flex-wrap: wrap;
       justify-content: center;
       margin-left: 0;
    }
}

@media screen and (max-width: 550px) {
    .form{
        flex-direction: column;
    }

    .top input[type="text"], .bottom input[type="text"]{
        width: 200px;
    }

    .main{
       flex-direction: column;
       margin-left: calc((100% - 300px)/2);
    }
}