* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(222, 232, 231);
}

main{
    display: flex;
    width: fit-content;
    margin: 100px auto;
    gap: 20px;
    padding: 70px 100px;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.btn button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(50, 174, 208);
}

ul {
    list-style-type: none;
}

.side {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    box-shadow: 3px 5px 5px rgb(185, 177, 177);
    padding: 15px;
    line-height: 30px;
}